* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1.5rem 1rem;
  background-color: purple;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  transition: all 0.3s linear;
}

main {
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.nav__items {
  list-style: none;
  counter-reset: fancy-counter;
}

.nav__item {
  counter-increment: fancy-counter;
  margin-bottom: 1rem;
}

.nav__link {
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 2px solid purple;
  color: black;
  font-size: 1.25rem;
  transition: all 0.3s linear;
}

.nav__item::before {
  content: counter(fancy-counter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background-color: purple;
  color: white;
  font-size: 1.25rem;
  font-weight: 800;
  margin-right: 1rem;
  box-shadow: 1px 1px 0 black;
  transition: all 0.3s linear;
}

@media (min-width: 40em) {
  header {
    font-size: 2rem;
  }
  .nav__link {
    font-size: 1.5rem;
  }
  .nav__item::before {
    width: 2em;
    height: 2em;
  }
}

footer {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
}
